@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color: #000000;
}
.page-header {
  background-color: #FFFFFF;
}
.navigation-link {
  color: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.main-intro {
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
  height: 485px;
  background-image: url("../img/divider.svg"), url("../img/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  background-position: bottom;
}
.newsletter {
  color: #FFFFFF;
  background-color:#000000 ;
  background-image: url("../img/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}
.newsletter-catalog {
  color: #000000;
  background-color: #FFFFFF ;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}
.filter-products {
  color: #FFFFFF;
  background-color:#000000 ;
  background-image: url("../img/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}
.filter-legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}
.control-label {
  font-size: 18px;
  line-height: 23px;
}
.filter-input {
  font-size: 18px;
  line-height: 23px;
}
.page-slogan-subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.page-slogan-text {
  color: #333333;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}
.advantages-wrapper {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #83B3D3;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.appointment {
  text-align: center;
  background-color:#FFFFFF;
}
.appointment-slogan {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
}
.appointment-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}
.button-appointment {
  color: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.button {
  color: #FFFFFF;
  background-color: 83B3D3;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
.subtitle-newsletter {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
}
.subtitle-newsletter-catalog {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
}
.newsletter-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}
.newsletter-field {
  width: 600px;
  height: 60px;
}
.newsletter-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #83B3D3;
  color: #FFFFFF;
}
.page-footer {
  background-color: #FFFFFF;
  color: #000000;
}
.footer-contacts-address-phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.main-inner {
  color: #FFFFFF;
}
.inner-header-title {
  color: #FFFFFF;
  background-color: #000000;
}
.sorting-product {
  color: #000000;
  background-color: #E5E5E5;
}
.subtitle-sorting {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}
.catalog {
  color: #000000;

}
.product-card-link{
  color: inherit;
  text-decoration: none;
}
.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}
.product-card-type {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}
.product-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}
.product-card-button{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  background-color: #756257;
  font-weight: bold;
  text-transform: uppercase;
}
.product-card-favorites {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  background-color: #83B3D3;
  font-weight: bold;
  text-transform: uppercase;
}
.card-rating-text {
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}
.pagination-show-more {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #83B3D3;
}
.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}
.advertising-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}
}
.advantages-item {
  background-color: #FFFFFF;
}
.advantages-item-all {
  background-color: #83B3D3;
}
.newsletter-field {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

